@model IEnumerable<Astro4.Models.Burc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.burc_adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.burc_tarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.burc_resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ozellik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.burc_adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.burc_tarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.burc_resim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ozellik)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
